# Customize this and rename to global.R before running the app.

logfile.url <- "http://your/tagtime/log/file/url"  # CHANGEME

ping.interval <- 45  # mean waiting time between pings in minutes (default 45)

perl <- FALSE  # whether to use PERL syntax for regular expressions

# Tags or regular expressions to display data of
regexes <- c(  #CHANGEME
  "prod3", 
  "prod0", 
  "proj|code|stats| r | ml |igf|auto|website|write", 
  "school|class|hw", 
  "auto", 
  "work", 
  "slp", 
  "social|im", 
  "outside|garden", 
  "email|sms|phonecall", 
  "drive", 
  "favor", 
  "net", 
  "tagtime|pfeedback|kcal", 
  "stand", 
  "sit |drive")

# Names for the selection menu
catnames <- c(  #CHANGEME
  "Productivity", 
  "Wasted time", 
  "Projects", 
  "School", 
  "Autodidacticism", 
  "Work", 
  "Sleep", 
  "Social time", 
  "Time spent outside", 
  "Communication", 
  "Driving", 
  "Favors", 
  "Web browsing", 
  "Self tracking", 
  "Standing", 
  "Sitting")

# Category descriptions
descriptions <- c(  #CHANGEME
  "Productive time in domains such as personal projects, school, and work (less than full attention doesn't count)", 
  "Things like Netflix, aimless web browsing, Facebook, and daydreaming", 
  "Personal projects including autodidacticism, coding, statistics, writing, and so on (school or work don't count)", 
  "Class time, homework, and studying", 
  "Focused learning from books, tutorials, online lectures, and the like (school doesn't count)", 
  "Gainful employment", 
  "zzZZZzz (includes daytime naps)", 
  "Social interaction in real time", 
  "What it says", 
  "Emails, phone calls, texting", 
  "Time spent in a moving vehicle", 
  "Things done for other people", 
  "Aimless browsing, catching up on blogs, and so on (usually wasteful)", 
  "Time spent answering TagTime pings, entering percentile feedback data, or otherwise maintaining these", 
  "Time spent on my feet (started tracking 2014-08-21)", 
  "Time spent sitting (started tracking 2014-08-21; older entries include only driving)")
